= form_tag search_videos_path, method: "get", class: "col-md-4 navbar-form" do
  = text_field_tag :query, nil, placeholder: "Search for videos here"
  = submit_tag "Search", class: "btn btn-default"

